.slideThree{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../../media/background/3.svg');
    background-size: cover;
}

.slideThree__title {
    margin-left: calc(705 / 2050 * 100%);
    height: 100%;
}

.slideThree__largeTitle {
    position: relative;
    top: calc(350 / 1530 * 100%);
    font-family: Neometric;
    font-weight: 300;
    font-size: calc(190pt / 2.15);
    line-height: 107.3%;
    margin: 0;
}

.slideThree__firstLine {
    position: relative;
    font-size: calc(54pt / 2.15);
    font-family: 'DIN Pro';
    top: calc(310 / 1530 * 100%);
    margin: 0 0 0 1%;
}

.slideThree__thumbnail {
    font-weight: 700;
}

.block{
    width: 100px;
    height: 100px;
    background-color: red;
}


/*------------------------------------elements-----------------------------------------*/

.slideThree__bubble1{
    position: absolute;
    bottom: 0;
    right: calc(1390/2050 * 100vw);
    width: calc(280/2050 * 100vw);
    z-index: 50;
    animation: bubble1 7s linear infinite normal 0s;
}

@keyframes bubble1 {
    0% {
        transform: matrix(1,0,0,1,0,0);
    }
    25%{
        transform: matrix(1.1,0,0,1.1,-10,0);
    }
    50%{
        transform: matrix(1.05,0,0,1.05,-15,0);
    }
    75%{
        transform: matrix(1.1,0,0,1.1,-10,0);
    }
    100% {
        transform: matrix(1,0,0,1,0,0);
    }
}

.slideThree__bubble2{
    position: absolute;
    bottom: calc(230/1530 *100vh);
    right: calc(1400/2050 * 100vw);
    width: calc(125/2050 * 100vw);
    z-index: 9;
    animation: bubble2 7s linear infinite normal 0s;
}

@keyframes bubble2 {
    0% {
        transform: matrix(1,0,0,1,0,0);
    }
    25%{
        transform: matrix(1,0,0,1,-10,3);
    }
    50%{
        transform: matrix(1,0,0,1,-20,-3);
    }
    75%{
        transform: matrix(1,0,0,1,-10,3);
    }
    100% {
        transform: matrix(1,0,0,1,0,0);
    }
}

.slideThree__bubble3{
    position: absolute;
    bottom: calc(280/1530 *100vh);
    right: calc(1850/2050 * 100vw);
    width: calc(150/2050 * 100vw);
    z-index: 50;
    animation: bubble3 9s linear infinite normal 0s;
}

@keyframes bubble3 {
    0% {
        transform: matrix(1,0,0,1,0,0);
    }
    25%{
        transform: matrix(0.9,0,0,0.9,30,30);
    }
    50%{
        transform: matrix(1.1,0,0,1.1,-5,40);
    }
    75%{
        transform: matrix(0.9,0,0,0.9,30,30);
    }
    100% {
        transform: matrix(1,0,0,1,0,0);
    }
}

.slideThree__bubble4{
    position: absolute;
    bottom: calc(560/1530 *100vh);
    right: calc(1960/2050 * 100vw);
    width: calc(65/2050 * 100vw);
    z-index: 50;
    animation: bubble3 13s linear infinite normal 0s;
}

.slideThree__bubble5{
    position: absolute;
    bottom: calc(675/1530 *100vh);
    right: calc(1410/2050 * 100vw);
    width: calc(220/2050 * 100vw);
    z-index: 9;
    animation: bubble5 13s linear infinite normal 0s;
}

@keyframes bubble5 {
    0% {
        transform: matrix(1,0,0,1,0,0);
    }
    25%{
        transform: matrix(1.2,0,0,1.2,30,-30);
    }
    50%{
        transform: matrix(0.9,0,0,0.9,45,10);
    }
    75%{
        transform: matrix(1.2,0,0,1.2,30,-30);
    }
    100% {
        transform: matrix(1,0,0,1,0,0);
    }
}

.slideThree__bubble6{
    position: absolute;
    bottom: calc(1040/1530 *100vh);
    right: calc(1845/2050 * 100vw);
    width: calc(65/2050 * 100vw);
    z-index: 9;
    animation: bubble6 15s linear infinite normal 0s;
}

@keyframes bubble6 {
    0% {
        transform: matrix(1,0,0,1,0,0);
    }
    50%{
        transform: matrix(1,0,0,1,20,20);
    }
    100% {
        transform: matrix(1,0,0,1,0,0);
    }
}

.slideThree__bubble7{
    position: absolute;
    bottom: calc(1085/1530 *100vh);
    right: calc(1545/2050 * 100vw);
    width: calc(135/2050 * 100vw);
    z-index: 50;
    animation: bubble7 13s linear infinite normal 0s;
}
@keyframes bubble7 {
    0% {
        transform: matrix(1,0,0,1,0,0);
    }
    25%{
        transform: matrix(0.9,0,0,0.9,30,30);
    }
    50%{
        transform: matrix(1.1,0,0,1.1,-5,15);
    }
    75%{
        transform: matrix(0.9,0,0,0.9,30,30);
    }
    100% {
        transform: matrix(1,0,0,1,0,0);
    }
}

.slideThree__bubble8{
    position: absolute;
    bottom: calc(1325/1530 *100vh);
    right: calc(1575/2050 * 100vw);
    width: calc(75/2050 * 100vw);
    z-index: 9;
    animation: bubble3 18s linear infinite normal 0s;
}


.slideThree__bottle{
    position: absolute;
    height: calc(1380/1530 *100%);
    right: calc(1460/2050 * 33.3%);
    bottom: 0;
    z-index: 10;
}


/*-------------------------------------------------адаптация-------------------------------------------------------*/
@media (min-width: 1024px) and (max-width: 1280px) {
    .slideThree__firstLine {
        font-size: calc(54pt / 2 * 0.74);
    }

    .slideThree__largeTitle {
        font-size: calc(190pt / 2 * 0.74);
    }

    .slideThree__button {
        height: calc(106 * 0.74px);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .slideThree__firstLine {
        font-size: calc(54pt / 2 * 0.55);
    }

    .slideThree__largeTitle {
        font-size: calc(190pt / 2 * 0.55);
    }

    .slideThree__button {
        height: calc(106 * 0.55px);
        margin-bottom: 10px;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    .slideThree__firstLine {
        font-size: calc(54pt / 2 * 0.42);
    }

    .slideThree__largeTitle {
        font-size: calc(190pt / 2 * 0.42);
    }

    .slideThree__button {
        height: calc(106 * 0.3px);
        margin-bottom: 5px;
    }
}

@media (min-width: 320px) and (max-width: 419px) {
    .slideThree__firstLine {
        font-size: calc(54pt / 2 * 0.42);
    }

    .slideThree__largeTitle {
        font-size: calc(190pt / 2 * 0.35);
    }

    .slideThree__button {
        height: calc(106 * 0.23px);
        margin-bottom: 4px;
    }
}
