@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700;800&display=swap');
@import url('./media/fonts/neometric/stylesheet.css');
@import url('media/fonts/din-pro/din-pro/din_pro.css');
@import url('media/fonts/gilroy/gilroy/gilroy.css');

.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}


